/*GLOBAL VARIABLES - COLORS*/
:root {
  --background-color: #EFF1F0; 
  --font-color: rgba(68, 73, 82, .9);
  --light-grey-color: #B4C1CA;
  --blue-color: #A1D4E3;
  --pink-color: #F98285;
  --purple-color: #BD70B3;
  --yellow-color: #E9CC84;
  --header-font: 'Poppins', sans-serif;
  --main-font: 'Roboto', sans-serif;
}
/* Here's how to reference these variables in the css */
/*  #foo h1 {
    color: var(--main-color);
}*/

* {
  color: var(--font-color);
  font-family: var(--main-font);
}

body {
  background-color: var(--background-color);
  margin: 0 auto;
}

.space {
  margin: 15px 0;
  margin: -60px auto 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1, h2 {
  font-family: var(--header-font);
}

h1 {
  font-size: 2em;
}

/* NAV */
nav {
  width: 100%;
  padding: 10px 0;
}

nav a {
  margin: 10px 30px !important;
  text-decoration: none !important;
  font-weight: 700 !important;
  color: var(--purple-color) !important;
}


.content__box {
  display: flex;
  justify-content: center;
  flex: 1 100%;
  align-items: stretch;
}

/* HOME PAGE */
.home {
  margin-top: -60px;
  flex: 1 100%;
  padding: 150px;
  align-items: stretch;
  background: url('../img/pexels-photo-671658.jpeg') no-repeat;
  background-size: cover;
}

.Home__title {
  font-size: 4em;
}

/* BOXES */
.box {
  text-align: center;
}

/* FORM */
.Form__box {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 500px;
}


.Loading {
  text-align: center;
  width: 90%;
}

/* AUTH */
.UserAuth__box, .Login__box, .Signup__box {
  width: 600px;
}

/* FOOTER */
 .footer {
  background-color: var(--font-color);
  padding: 20px;
}

.footer-text {
  font-size: 10px;
  color: var(--background-color);
} 

/* ALERTS */
.error {
  background-color: var(--yellow-color);
  color: white;
  padding: 10px 30px;
}

.success {
  background-color: var(--blue-color);
  color: white;
  padding: 10px 30px;
}

.no-flash {
  visibility: hidden;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.x-button {
  background-color: var(--font-color);
  color: var(--background-color);
  border-radius: 10px;
  float: right;
}
