/*GLOBAL VARIABLES - COLORS*/
:root {
  --background-color: #FDFFFE; 
  --font-color: rgba(68, 73, 82, .9);
  --light-grey-color: #dddddd;
  --blue-color: #A1D4E3;
  --pink-color: #F98285;
  --purple-color: #BD70B3;
  --orange-color: #ffdabf;
  --header-font: 'Poppins', sans-serif;
  --main-font: 'Roboto', sans-serif;
}
/* Here's how to reference these variables in the css */
/*  #foo h1 {
    color: var(--main-color);
}*/

* {
  color: var(--font-color);
  font-family: var(--main-font);
}

body {
  background-color: var(--background-color);
  margin: 0 auto;
}

.space {
  margin: 15px 0;
  margin: -60px auto 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1, h2 {
  font-family: var(--header-font);
}

h1 {
  font-size: 2em;
  display: block;
}

/* NAV */
nav {
  margin: 0 auto;
}

#root > div > div > nav > div {
  background: none !important;
}

.Nav__link, .Nav__logo {
  color: var(--font-color) !important;
  margin: 10px 30px;
  font-size: 1em;
  text-decoration: none;
  font-weight: 700;
  transition: all 1s;
  text-transform: lowercase;
  height: inherit;
}

.Nav__link {
  color: var(--font-color) !important;
  bottom: 5px;
}

.Nav__logo {
  font-size: 1.25em;
}

.Nav__link:hover, .Nav__logo:hover {
    color: var(--blue-color) !important;
}

#root > div > div > nav > div > div:nth-child(2) > span > div > button > div > svg {
  position: relative;
  top: 6px;
}

.content__box {
  display: flex;
  justify-content: center;
  flex: 1 100%;
  align-items: stretch;
}

/* HOME PAGE */
.home {
  margin-top: -60px;
  flex: 1 100%;
  padding: 150px;
  align-items: stretch;
  background: url('../img/pexels-photo-671658.jpeg') no-repeat;
  background-size: cover;
}

.Home__title {
  font-size: 4em;
}

/* BUTTON */

/*Rename these*/
.primaryCTA {
  background: var(--pink-color);
  border: 3px solid var(--pink-color);
  font-size: 1.25em;
  font-weight: 500;
  color: white;
  padding: 10px 25px;
  margin-right: 10px;
  outline: 0;
  transition: all 1s;
}

.secondaryCTA {
  background: none;
  font-size: 1.25em;
  border: 3px solid var(--font-color);
  color: var(--font-color);
  font-weight: 500;
  padding: 10px 25px;
  margin-right: 10px;
  outline: 0;
  transition: all 1s;
}

.primaryCTA.small, .secondaryCTA.small {
  font-size: .75em;
}

.secondaryCTA:hover, .primaryCTA:hover {
  outline: none;
  border: 3px solid var(--purple-color);
  background: var(--purple-color);
  color: white;
}

.secondaryCTA:active, .primaryCTA:active {
  outline: none;
  background: var(--purple-color);
  border: 3px solid var(--purple-color);
  color: white;
}

/* BOXES */
.box {
  text-align: center;
}

.DreamResult {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
}

/* LOGS PAGE */
.DreamLog__title {
  text-align: center;
}

.DreamLog {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 80px 30px 80px;
}

.DreamKey__box {
  text-align: left;
  margin: 10px;
  display: inline-block;
  box-sizing: border-box;
  width: 45%;
  flex: 45%;
  padding: 40px;
  transition: all 2s;
  align-self: stretch;
  border: 1px solid var(--light-grey-color);
  box-shadow: 5px 5px var(--light-grey-color);
}

.DreamKey__buttons {
  margin-top: 40px;
  text-align: right;
}

.DreamKey__box h3 {
  display: inline-block;
}

.DreamKey__box h5 {
  display: inline-block;
  background: var(--background-color);
  padding: 8px;
  margin: 0;
  margin-left: 20px;
  position: relative;
  bottom: 2px;
  border-radius: 15px;
  padding: 5px 10px;
}

h5.neutral {
  color: var(--purple-color);
  border: 2px solid var(--purple-color);
}

h5.negative {
  color: var(--pink-color);
  border: 2px solid var(--pink-color);
}

h5.positive {
  color: var(--blue-color);
  border: 2px solid var(--blue-color);
}

h5.mixed {
  background: var(--orange-color);
  border: 2px solid var(--orange-color);
}

/* KEYWORDS BOX  */
.DreamResult__box {
  text-align: left;
  margin: 0;
  display: inline-block;
  box-sizing: border-box;
  width: 20%;
  padding-top: 150px;
  left: 100px;
  position: relative;
}

div.DreamResult__box.box > div > button > div {

}

/* DONUT CHART */
.DreamScore__box {
  text-align: left;
  margin: 0;
  display: inline-block;
  box-sizing: border-box;
  width: 80%;
  position: relative;
  right: 100px;
}

/* Sentiment color coded scores */
h1 span.neutral {
  color: var(--purple-color);
}

h1 span.negative {
  color: var(--pink-color);
}

h1 span.positive {
  color: var(--blue-color);
}

h1 span.mixed {
  color: var(--orange-color);
}

/* Legend */
#root > div > div > div > div.content__box > div > div.DreamScore__box.box > div > div.recharts-wrapper > div.recharts-legend-wrapper {
  max-width: 400px;
}

.Analyze__background {
  padding: 200px;
  margin-top: -60px;
  text-align: center;
  background: url('../img/pexels-photo-691668.jpeg') no-repeat;
  background-size: cover;
  display: flex;
  flex: 1 100%;
  justify-content: center;
  align-items: stretch;
}

.Loading__box {
  margin-top: -60px;
  padding: 100px;
  display: flex;
  flex: 1 100%;
  justify-content: center;
  align-items: stretch;
}

/* FORM */
.Form__box {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 500px;
}


.Loading {
  display: inline-block;
  text-align: center;
  width: 200px;
  height: 100px;
}

/* AUTH */
.UserAuth__box, .Login__box, .Signup__box {
  max-width: 600px;
}

/* FOOTER */
 .footer {
  background-color: var(--font-color);
  padding: 20px;
}

.footer-text a {
  color: var(--blue-color);
  transition: all 2s;
}

.footer-text a:hover {
  color: var(--orange-color);
}

.footer-text {
  font-size: .75em;
  color: var(--background-color);
} 

/* ALERTS */
.error {
  background-color: var(--pink-color);
  color: white;
  padding: 10px 30px;
}

.success {
  background-color: var(--blue-color);
  color: white;
  padding: 10px 30px;
}

.no-flash {
  visibility: hidden;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.x-button {
  background-color: var(--font-color);
  color: var(--background-color);
  border-radius: 10px;
  float: right;
}


/* RESPONSIVE */

@media all and (max-width: 600px) {
  .DreamLog {
    padding: 10px;
  }
  .DreamKey__box { 
    width: 100%;
    flex: 100%;
  }
  .DreamResult__box {
  width: 100%
  }
  .DreamScore__box {
  width: 100%
  }
}