/*GLOBAL VARIABLES - COLORS*/
:root {
  --background-color: #FDFFFE; 
  --font-color: rgba(68, 73, 82, .9);
  --light-grey-color: #dddddd;
  --blue-color: #A1D4E3;
  --pink-color: #F98285;
  --purple-color: #BD70B3;
  --orange-color: #ffdabf;
  --header-font: 'Poppins', sans-serif;
  --main-font: 'Roboto', sans-serif;
}

* {
  color: var(--font-color);
  font-family: var(--main-font);
}

body {
  background-color: var(--background-color);
  margin: 0 auto;
  background: url('../img/page_background.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.space {
  margin: 15px 0;
  margin: -60px auto 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1, h2 {
  font-family: var(--header-font);
}

h1 {
  font-size: 2em;
  display: block;
}

.content__box {
  display: flex;
  justify-content: center;
  flex: 1 100%;
  align-items: stretch;
}


/* NAV */
nav {
  margin: 0 auto;
}

#root > div > div > nav > div {
  background: none !important;
}

.Nav__link, .Nav__logo {
  color: var(--font-color) !important;
  margin: 10px 30px;
  font-size: 1em;
  text-decoration: none;
  font-weight: 700;
  transition: all 1s;
  text-transform: lowercase;
  height: inherit;
}

.Nav__logo {
  font-size: 1.25em;
}

.Nav__link:hover, .Nav__logo:hover {
    color: var(--blue-color) !important;
}

.Nav__mobile_link {
  display: none;
}

/* NAV - Material UI formatting overrides: */
.Nav__link, #root > div > div > nav > div > div:nth-child(2) > span {
  color: var(--font-color) !important;
}

#root > div > div > nav > div > div:nth-child(2) > span {
  position: relative;
  bottom: 3px;
}

#root > div > div > nav > div > div:nth-child(2) > span > div > button > div > svg {
  position: relative;
  top: 6px;
}

/* HOME PAGE */
.home {
  margin-top: -60px;
  background: url('../img/home_background.jpg') no-repeat;
  background-size: cover;
  padding: 150px;
}

.auth-container, .home {
  flex: 1 100%;
  align-items: stretch;
}

.auth-container {
  padding: 20px;
}

.Home__title {
  font-size: 4em;
}

/* BUTTON */

.primaryCTA, .secondaryCTA {
  padding: 10px 25px;
  margin-right: 10px;
  margin-bottom: 10px;
  outline: 0;
  transition: all 1s;
  font-weight: 500;
}
.primaryCTA {
  background: var(--pink-color);
  border: 2px solid var(--pink-color);
  font-size: 1.25em;
  color: white;

}

.secondaryCTA {
  background: none;
  font-size: 1.25em;
  border: 2px solid var(--font-color);
  color: var(--font-color);
}

.primaryCTA.small, .secondaryCTA.small {
  font-size: .75em;
}

.secondaryCTA:hover, .primaryCTA:hover {
  outline: none;
  border: 2px solid var(--purple-color);
  background: var(--purple-color);
  color: white;
}

.secondaryCTA:active, .primaryCTA:active {
  outline: none;
  background: var(--purple-color);
  border: 2px solid var(--purple-color);
  color: white;
}

/* BOXES */
.box {
  text-align: center;
}

.DreamResult {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  overflow: hidden;
  width: 70%;
}

/* LOGS PAGE */
.DreamLog__title {
  text-align: center;
}

.DreamLog {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 80px 30px 80px;
}

.DreamKey__box {
  text-align: left;
  margin: 10px !important;
  display: inline-block;
  box-sizing: border-box;
  width: 45%;
  flex: 45%;
  padding: 40px;
  transition: all 2s;
  background: rgba(256, 256, 256, .6);
  border: 1px solid var(--light-grey-color);
  box-shadow: 5px 5px var(--light-grey-color);
}

.DreamKey__buttons {
  margin-top: 40px;
  margin-bottom: 0;
  text-align: right;
}

.DreamKey__box h3 {
  display: inline-block;
}

.DreamKey__box h5 {
  display: inline-block;
  padding: 8px;
  margin: 0;
  margin-left: 20px;
  position: relative;
  bottom: 2px;
  border-radius: 15px;
  padding: 5px 10px;
}

h5.neutral {
  color: var(--purple-color);
  border: 2px solid var(--purple-color);
}

h5.negative {
  color: var(--pink-color);
  border: 2px solid var(--pink-color);
}

h5.positive {
  color: var(--blue-color);
  border: 2px solid var(--blue-color);
}

h5.mixed {
  background: var(--orange-color);
  border: 2px solid var(--orange-color);
}

/* ANALYZE - RESULTS */
/* KEYWORDS BOX  */
.DreamResult__box {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  box-sizing: border-box;
  width: 40%;
  overflow: hidden;
  z-index: 99;
  padding-top: 60px;
  padding-left: 70px;
}

.Keyword__enabled, .Keyword__disabled {
  padding: 20px;
  margin: 5px;
  width: 80%;
  font-size: 1em;
  border-radius: 0;
  border: 0;
  outline: 0;
  background: var(--background-color);
  transition: all 2s;
}

.Keyword__enabled {
  color: var(--pink-color);
  font-weight: 900;
}

.Keyword__enabled:hover {
  color: var(--background-color);
  background: var(--pink-color);
  cursor: pointer;
}

.Keyword__disabled:disabled {
  color: var(--font-color);
  border: 0;
  outline: 0;
  font-weight: 400;
}

.Keyword__enabled:active {
  outline: 0;
  color: var(--background-color);
  background: var(--purple-color);
}

/* DONUT CHART */
.DreamScore__box {
  text-align: center;
  margin: 0;
  display: inline-block;
  box-sizing: border-box;
  width: 60%;
}

.DreamScore__box h1 {
  text-align: left;
}

/* Sentiment color coded scores */
h1 span.neutral, h2 span.neutral {
  border-bottom: 5px solid var(--purple-color);
  font-size: 1.10em;
}

h1 span.negative, h2 span.negative {
  border-bottom: 5px solid var(--pink-color);
  font-size: 1.10em;
}

h1 span.positive, h2 span.positive {
  border-bottom: 5px solid var(--blue-color);
  font-size: 1.10em;
}

h1 span.mixed, h2 span.mixed {
  border-bottom: 5px solid var(--orange-color);
  font-size: 1.10em;
}

/* Legend */
#root > div > div > div > div.content__box > div > div.DreamScore__box.box > div > div.recharts-wrapper > div.recharts-legend-wrapper {
  max-width: 400px;
}

#root > div > div > div > div.content__box > div > div.DreamScore__box.box > div > div.recharts-wrapper > div.recharts-legend-wrapper {
  max-width: 400px;
  left: 20px !important;
}

.Analyze__background {
  padding: 200px;
  margin-top: -60px;
  text-align: center;
  display: flex;
  flex: 1 100%;
  justify-content: center;
  align-items: stretch;
}

.Loading__box {
  margin-top: 100px;
  padding: 100px;
  display: flex;
  flex: 1 100%;
  justify-content: center;
  align-items: stretch;
}

/* PROFILE */
.Profile, .Logs {
  flex: 1 100%;
  align-items: stretch;
}

.Profile__grid {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 80px 30px 80px;
  overflow: hidden;
}

.Profile__grid h3 {
  text-align: center;
}

.Profile__subhead {
  text-align: center;
  margin-top: -80px;
  margin-bottom: 40px;
  padding: 20px;
}

.Profile__box {
  margin: 10px;
  display: inline-block;
  box-sizing: border-box;
  width: 45%;
  flex: 45%;
  padding: 20px;
  transition: all 2s;
  align-self: center;
  text-align: center;
}

.Profile__box h2 {
  margin-bottom: 30px;
  margin-top: 0px;
}

.dreamTotal {
  margin-top: -10px;
  margin-bottom: -10px;
  font-size: 4em;
}

@keyframes floating {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0em, -.05em);
  }
  100% {
    transform: translate(-.05em, -.10em);
    }
}

.dataBubble {
  opacity: .7;
  margin: -5px;
  display: inline-block;
  vertical-align: middle;
}

.dataBubble.neutral {
    animation: floating 5s infinite alternate-reverse;
}

.dataBubble.positive {
    animation: floating 4s infinite alternate;
}

.dataBubble.negative {
    animation: floating 5s infinite alternate;
}

.dataBubble.mixed {
    animation: floating 4s infinite alternate-reverse;
}

.dataBubble:hover {
  transform: scale(1.2);
}

.dataVisualBubbles {
  font-size: 25em;
  line-height: .75em;
  margin: -50px auto 0 auto;
  padding: 20px;
  width: 80%;
  overflow: hidden;
}

.Profile > div > div:nth-child(4) {
  margin-bottom: -28px;
  opacity: .7;
}

/* FORM */
.Form__box {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 500px;
}


.Loading {
  display: inline-block;
  text-align: center;
  width: 200px;
  height: 100px;
}

/* AUTH */
.UserAuth__box, .Login__box, .Signup__box {
  max-width: 600px;
}

.UserAuth__box {
  text-align: center;
  margin: 10px !important;
  display: inline-block;
  box-sizing: border-box;
  width: 45%;
  flex: 45%;
  padding: 40px;
  transition: all 2s;
  background: white;
  border: 1px solid var(--light-grey-color);
  box-shadow: 5px 5px var(--light-grey-color);
 }


/* FOOTER */
 .footer {
  background-color: var(--font-color);
  padding: 20px;
}

.footer-text {
  display: block;
  font-size: .75em;
  color: var(--background-color);
} 

.footer-text a {
  color: var(--blue-color);
  transition: all 2s;
  text-decoration: none;
  font-weight: 700;
}

.footer-text a:hover {
  color: var(--orange-color);
}

/* ALERTS */
.error {
  background-color: var(--pink-color);
  color: white;
  padding: 10px 30px;
}

.success {
  background-color: var(--blue-color);
  color: white;
  padding: 10px 30px;
}

.no-flash {
  visibility: hidden;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.x-button {
  background-color: var(--font-color);
  color: var(--background-color);
  border-radius: 10px;
  float: right;
}

.auth-container {
  display: flex;
  justify-content: center;
}

/* RESPONSIVE */

@media all and (max-width: 600px) {
  .home, .auth-container {
    padding: 40px;
  }
  .Home__title {
    font-size: 3em;
    padding-top: 90px;
  }
  .DreamLog {
    padding: 10px;
  }
  .DreamKey__box, .Profile__box { 
    width: 100%;
    flex: 100%;
  }
  .DreamKey__box {
    margin-bottom: 10px !important;
  }
  .DreamResult {
    width: 100%;
  }
  .DreamResult__box {
    width: 95%;
    padding-top: inherit;
    padding: 20px;
  }
  .DreamScore__box {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-left: 0;
  }
  .DreamScore__box h1 {
    font-size: 1.5em;
    margin: 40px auto;
    text-align: center;
  }
  .DreamScore__box.box > div > div.recharts-wrapper > svg {
    max-width: 350px;
    padding: 20px;
  }
  .dataVisualBubbles {
    font-size: 15em;
  }
  .Profile__grid {
    padding: 10px;
  }
  .Profile__subhead {
    margin-bottom: 20px;
  }
  .Nav__link.loggedIn {
    display: none;
  }
  .Nav__mobile_link {
    display: block;
    text-decoration: none;
  }
  .primaryCTA.small, .secondaryCTA.small {
    font-size: .5em;
  }
  .Keyword__enabled, .Keyword__disabled {
    padding: 40px 20px;
    margin: 10px auto;
    width: 80%;
    font-size: 1em;
  }
  #root > div > div > div > div.content__box > div > div.DreamScore__box.box > div > div.recharts-wrapper > svg {
    position: relative;
    right: 20px;
  }
 }

 @media all and (max-width: 960px){
  .UserAuth__box { 
    width: 90%;
    flex: 90%;
  }
}
