/* Sentiment Trends Chart */
/* Area Chart */

.AreaChart_box {
	width: 100%;
	margin: 0;
}

.ToolTiplist {
	list-style: none;
	padding: 0px 5px 5px 5px;
	
}

.customizedToolTip {
	background-color: rgba(256,256,256,.8);
	border: 1px solid #999;
	padding: 5px ;
}


.ToolTipTitle{
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	color: #444952;
	margin-bottom: 2;
}