/* Sentiment Trends Chart */
/* Area Chart */

.AreaChart_box {
	width: 100%;
	margin: 0;
}

.ToolTiplist {
	list-style: none;
	margin-left: none;
}

.customizedToolTip {
	background-color: rgba(256,256,256,.8);
	border: 1px solid #999;
	margin: 0;
	padding: 5;
}